/* .vector1{
    background: url('./images/14.svg') no-repeat;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 717px;
    z-index: -3;
    
} */

/* .vector2{
     background: url('./images/14.svg') no-repeat;
    background-size:cover;  
    
    width: 100%;
    height: 100vh;
    left: 0px;
   
    z-index: -2;
} */

.project-container-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	margin-bottom: 100px;
}

#aboutme {
	position: absolute;
	top: 10px;
}

#projects {
	position: absolute;
	top: 1400px;
}

#skills {
	position: absolute;
	top: 630px;
}

#contact {
	position: absolute;
	top: 5600px;
}

.section-title {
	font-size: 55px;
	font-weight: 300;
	margin-left: 100px;
	padding-top: 50px;
}

@media only screen and (max-width: 1400px) {
	#aboutme {
		position: absolute;
		top: 10px;
	}

	#projects {
		position: absolute;
		top: 1500px;
	}

	#skills {
		top: 850px;
	}

	#contact {
		position: absolute;
		top: 5300px !important;
	}
}

@media only screen and (max-width: 1024px) {
	/* .vector1{
        height:1000px;
        /* min-width: 370px; 
    } */
	.project-container-main {
		margin-top: 1700px;
	}

	.box {
		width: auto;
	}

	.section-title {
		font-size: 60px;
		text-align: center;
		margin-left: 0px;
	}

	#projects {
		top: 1500px;
	}

	#skills {
		top: 870px;
	}

	#contact {
		top: 8100px !important;
	}
}

.footer {
	text-align: center;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
	.section-title {
		font-size: 39px;
		margin-bottom: 80px;
		margin-top: 0px;
	}

	.box {
		margin-bottom: 90px;
	}

	.project-container-main {
		margin-top: 10px;
	}

	#contact {
		top: 5300px;
	}
}

@media only screen and (max-width: 690px) {
	#aboutme {
		position: absolute;
		top: 10px;
	}

	#projects {
		position: absolute;
		top: 2350px;
	}

	#skills {
		top: 1200px;
	}

	#contact {
		position: absolute;
		top: 8290px !important;
	}
}
