.navbar{
 background-color: #F9F5FB;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width:100%;
 height:50px;
 position:sticky;
 top:0;
 z-index: 10;

}

.language{
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-decoration: none;
  width:4%;
  margin-left: 20px;
  font-size: 24px;
  
}

.language button{
    color:rgb(31, 30, 30);  
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 18px;
    font-family: inherit;
    background-color:transparent;
}

.language button:hover{
    color:rgb(114, 112, 112);  
    background-color:transparent;
}

.sections{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width:20%;
    margin-right: 20px;
    text-decoration: none;
}

.sections a{
    color:rgb(31, 30, 30);  
    transition: all .3s ease-in-out;
}


.sections a:hover{
    color:rgb(114, 112, 112);  
}



@media only screen and (max-width: 1200px) {

       .sections{
           width:40%;
           margin-right: 10px;
       }
       
       
}
@media only screen and (max-width: 690px) {

    .language{
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-decoration: none;
        width:5%;
        margin-left: 10px;
        font-size: 14px;
      }

      .language button{
          font-size: 14px;
          padding: 0px 4px 0px 4px;
      }
      
     
      
      .sections{
          width:73%;
          margin-right: 10px;
          font-size: 14px;
      }
      
     
      


}